pkgbase = wavetask-git
	pkgdesc = A Plasma 6 task manager plasmoid with zoom effect
	pkgver = 1.4.r3.gdbc7fae
	pkgrel = 1
	url = https://github.com/vickoc911/org.vicko.wavetask
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = gcc
	makedepends = vulkan-headers
	depends = qt6-base
	depends = qt6-declarative
	depends = ki18n
	depends = kservice
	depends = kwindowsystem
	depends = kconfig
	depends = kconfigwidgets
	depends = knotifications
	depends = kio
	depends = kcoreaddons
	depends = kitemmodels
	depends = libplasma
	depends = plasma-activities
	depends = plasma-activities-stats
	depends = plasma-pa
	depends = plasma-workspace
	depends = libksysguard
	depends = kwin
	depends = libepoxy
	depends = libdrm
	provides = wavetask=1.4.r3.gdbc7fae
	conflicts = wavetask
	options = !debug
	source = wavetask::git+https://github.com/vickoc911/org.vicko.wavetask.git
	source = blur-permanent.patch
	source = tahoe-blur-corner.patch
	sha256sums = SKIP
	sha256sums = 38fc4eb35400044845902082f3d8c11b98f9a6901f8e423611a967142dfb44d3
	sha256sums = 6f20978310f5fe965e38e20d5c9ae22a07fd0eaf43f082937b5f2b407424b176

pkgname = wavetask-git
