pkgbase = wavetask-git
	pkgdesc = A Plasma 6 task manager plasmoid with zoom effect (macOS Dock skin)
	pkgver = 1.4.r21.g3e44fb0
	pkgrel = 1
	url = https://github.com/Keqwerty/wavetask-fixed
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = gcc
	makedepends = vulkan-headers
	depends = qt6-base
	depends = qt6-declarative
	depends = ki18n
	depends = kservice
	depends = kwindowsystem
	depends = kconfig
	depends = kconfigwidgets
	depends = knotifications
	depends = kio
	depends = kcoreaddons
	depends = kitemmodels
	depends = libplasma
	depends = plasma-activities
	depends = plasma-activities-stats
	depends = plasma-pa
	depends = plasma-workspace
	depends = libksysguard
	depends = kwin
	depends = libepoxy
	depends = libdrm
	provides = wavetask=1.4.r21.g3e44fb0
	conflicts = wavetask
	options = !debug
	source = wavetask::git+https://github.com/Keqwerty/wavetask-fixed.git
	sha256sums = SKIP

pkgname = wavetask-git
